* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav_svg {
  margin: 0 215px 0 219px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.header_nav_list {
  display: flex;
}
.header_nav_list_li {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
  list-style: none;
}
.header_nav_list_li:hover {
  color: #2196f3;
}
.header_nav_info {
  display: flex;
  margin-left: 218px;
  margin-right: 215px;
}
.header_nav_info_p {
  display: flex;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
.header_nav_info_p:hover {
  color: #2196f3;
}
.header_logo {
  display: flex;
  background-color: #2f303a;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
.header_logo_text {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
.header_logo_button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.header_logo_button_text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
}
.section_list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.section_item {
  margin: 94px 0;
  margin-right: 30px;
  max-width: 270px;
}

.section_item h5 {
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
  font-family: Roboto;
}

.section_item p {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.section2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section2 h1 {
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  letter-spacing: 1.08px;
}

.section2_wrapper {
  display: flex;
  justify-content: center;
}

.section2_wrapper img {
  margin-right: 30px;
  margin-top: 50px;
}

/* - */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer h1 {
  margin-top: 188px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-right: 30px;
}

.footer_container img {
  max-width: 270px;
}

.footer_container h5 {
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.footer_container p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}
